body {
  display: flex;
  justify-content: flex-start;
}

canvas {
  max-height: 100vh;
  max-width: 100%;
  margin: 0 0 0 auto;
}

.social-links {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.social-links > a {
  width: 180px;
  height: 60px;
  margin: 10px 0 10px 40px;
}

/*.fa-github {
  width: 160px;
  height: auto;
  margin-left: 40px;
}

#linkedin-img {
  width: 115px;
  margin-left: 54px;
  padding: 10px;
}

#email {
  margin-left: 80px;
}*/

#github-img:hover {
  border-bottom: 1px solid black;
}

#linkedin-img:hover {
  border-bottom: 1px solid black;
}
